/bricks/flutter_feature/hooks/.dart_tool
/bricks/flutter_feature/hooks/build
/bricks/flutter_feature/hooks/pubspec.lock

/bricks/flutter_freezed_bloc/hooks/.dart_tool
/bricks/flutter_freezed_bloc/hooks/build
/bricks/flutter_freezed_bloc/hooks/pubspec.lock

/bricks/flutter_presentation/hooks/.dart_tool
/bricks/flutter_presentation/hooks/build
/bricks/flutter_presentation/hooks/pubspec.lock